{% extends 'base2.html' %}  <!-- Extending our base file -->
<!-- calling crispy forms -->
{% load crispy_forms_tags %}
<!-- Defining our title  -->
{% load static %}
{% block title %}Create an account{% endblock %}


{% block content %}
<div class="teacher-board mt-5">
<h1>Create an account</h1>
<p>Please, sign up using the following form:</p>
<form method="post">
    {{ user_form|crispy }}
    {% csrf_token %}
   
    <button type="submit" class="btn btn-success text-rightsss">Create</button>
</form>
</div>
{% endblock %}